<section class="area-login">
  <div class="login-container">
    <div class="mid-object">
      <div class="icons">
        <img src="assets/img/icon1.svg" alt="" />
        <div class="icon2"><img src="assets/img/icon2.svg" alt="" /></div>
      </div>
      <form class="login-form">
        <h1 class="frase1">Dashboard Kit</h1>
        <h2 class="frase2">Log in to Dashboard Kit</h2>
        <h3 class="frase3">Enter your emailand password below</h3>
        <label for="text" class="email-txt">EMAIL</label>
        <input
        type="text"
        class="email-input"
        placeholder="Email address"
        name="email"
      />
      <label for="text" class="pass-txt">PASSWORD</label>
      <input
      type="text"
      class="pass-input"
      placeholder="Password"
      name="password"
      />
      <button class="btn-login">Log In</button>
      <div class="con-sign">
        <p class="frase4">Don't have on account?</p>
        <p class="signup">Sign up</p>
      </div>
    </form>
  </div>
  </div>
</section>
