.area-login {
    display: flex;
    height: 100%;
}

.login-container {
    font-family: Mulish, Arial, Helvetica, sans-serif;
    position: absolute;
    width: 380px;
    height: 582px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
    background: #FFFFFF;
    top: 156px;
    left: 494px;
    right:566px ;
    bottom: 122px;
}

.mid-object {
    position: relative;
    align-items: center;
    padding: 40px 32px;

}

.login-form {
    margin-top: 12px;
}

.icons {
    width: 48px;
    height: 48px;
    position: block;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.icon2 {
    background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    position: absolute;
    width: 18px;
    height: 21px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #3751FF;
}

.frase1 {
    height: 24px;
    text-align: center;
    margin: 0;
}

.frase2 {
    height: 30px;
    font-size: 24px;
    text-align: center;
    position: relative;
    opacity: 70%;
    margin-top: 32px;
    letter-spacing: 0.3px;
    font-weight: 700;
    line-height: 30.12px;
    margin-bottom: 0px;
}
.frase3 {
    text-align: center;
    position: relative;
    height: 20px;
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 14px;
}


form {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.email-input {
    line-height: 20px;
    margin-top: 6px;
    height: 46px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px;
    border-color: #F0F1F7;
    line-height: 20px;
    letter-spacing: 0.3px;
    padding-left: 16px;
    color: #9FA2B4;
}
.email-txt {
    height: 16px;
    font-size: 12px;
    line-height: 15.06px;
    letter-spacing: 0.3px;
    font-weight: 700;
    font-weight: bold 0.3px;
    margin-top: 48px;
    color: #9FA2B4;
}

.pass-txt {
    height: 16px;
    font-size: 12px;
    line-height: 15.06px;
    letter-spacing: 0.3px;
    font-weight: 700;
    font-weight: bold 0.3px;
    margin-top: 24px;
    color: #9FA2B4;
}

.pass-input {
    line-height: 20px;
    margin-top: 6px;
    height: 46px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px;
    border-color: #F0F1F7;
    line-height: 20px;
    letter-spacing: 0.3px;
    padding-left: 16px;
    color: #9FA2B4;
}

.btn-login {
    background-color: #3751FF;
    border: #3751FF;
    border-radius: 8px;
    height: 48px;
    color: #FFFFFF;
    margin-top: 24px;
}

.con-sign {

    margin-top: 32px;
    
}

p {
    display: inline;
    font-size: 14px;
    margin-top: 32px;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
    margin-top: 32px;
}

.frase4 {
    line-height: 20px;
    font-weight: 400;
    color: #9FA2B4;
}

.frase5 {
    font-weight: 600;
    margin-left: 5px;
    color: #3751FF;
}

.visualiza{
    width: 16.67px;
    height: 13.33px;
}
